*{
  padding: 0;
  margin: 0;
}



.tab{
  height:30px;
  outline: none;
  border-bottom-color: rgb(100,200,40); 
	border-top:none;
	border-left:none;
	border-right:none;
  background-color: rgb(236, 6, 6);
  padding-left:10px;
  padding-right:10px;
  margin:0px;
  float: left;
}
.active1{
  border-bottom: 2px solid rgb(73, 161, 102);
}
#tabs{
  padding: 0;
  margin: 0;
  width:100%;
  position: absolute;
  top:0;
  height:30px;
  background-color: Dodgerblue;
}
iframe{
  position: absolute;
  top:30px;
  left:630px;
  width: 53%;
  height:90vh;
}

#runner{
  position: absolute;
  left: 400px;
  height:30px;
  background: none;
  border: none;
  outline: none;
}

#check{
  position: absolute;
  left: 450px;
  top:10px;
  background: none;
  border: none;
  outline: none;
}

#check_label{
  position: absolute;
  left: 470px;
  top:10px;
  color:white;
  font-family: monospace;
}


#runner:hover{
  cursor: pointer;
}

/* 

body{
	margin: 0;
}

textarea,#lol1{
  outline: none;
	position: absolute;
	left:17px;
	background: black;
	font-family: monospace;
	color: white;
	width:500px;
	height:400px;
	resize: none;
	border: none;
	font-size: 17px;
  font-weight:400;
	margin:0;
}

#numbers{
	height: 383px;
	max-height: 383px;
	display: inline-block;
	background-color: rgba(100,120,130,0.5);
	overflow: hidden;
}

textarea{
	/*visibility: hidden;*/
/*	opacity: 0;*/
/*
line-height: 27px;
padding: 0;
	color: black;
	caret-color:white;
	background-color: rgba(0,0,0,0);
	mix-blend-mode: lighten;
	overflow: scroll;
	overflow-x: scroll;
	white-space: pre;
}

span{
	display: flex;
  flex-direction: row;
	height: 27px !important;
	width:17px;
  min-height: 27px;
}

.num{
	color: white;
}

.active{
	background-color: rgb(68,60,51);
}

#lol1{
	position: absolute;
	max-width: 483px;
	max-height: 383px;
	overflow: hidden;
	width:483px;
	z-index: -1;
}

#lol1::-moz-selection{
	background-color: unset;
	color: unset;
}

textarea::-moz-selection{
	background-color: rgba(200,200,200,0.3);
	color: rgba(0,0,0,0);
}

#lol1::selection{
	background-color: unset;
	color: unset;
}

textarea::selection{
	background-color: rgba(200,200,200,0.3);
	color: rgba(0,0,0,0);
}




.tag{
	color: green;
} */